{# Render a list of submissions for a jury page #}
{# @var \App\Entity\ExternalJudgement externalJudgement #}

{% if showExternalResult is not defined %}
    {% set showExternalResult = false %}
{% endif %}
{% if showExternalTestcases is not defined %}
    {% set showExternalTestcases = false %}
{% endif %}

{% set rowSpan = 1 %}
{% set tdExtraClass = '' %}
{% if showExternalResult and showExternalTestcases %}
    {% set rowSpan = 2 %}
    {% set tdExtraClass = ' thick-border' %}
{% endif %}

{% if submissions is empty %}
    <div class="alert alert-warning">No submissions</div>
{% else %}
    <table class="data-table table table-hover table-striped table-sm submissions-table">
        <thead class="thead-light">
        <tr>
            {% if showExternalResult and showExternalTestcases %}
                <th scope="col" colspan="2">ID</th>
            {% else %}
                <th scope="col">ID</th>
            {% endif %}
            {%- if showContest %}

                <th scope="col">contest</th>
            {%- endif %}

            <th scope="col">time</th>
            <th scope="col">team</th>
            <th scope="col">problem</th>
            <th scope="col">lang</th>
            {% if showExternalResult and showExternalTestcases %}
                <th scope="col" colspan="2">result</th>
            {% else %}
                <th scope="col">result</th>
            {% endif %}
            {% if showExternalResult and not showExternalTestcases %}
                <th scope="col">external result</th>
            {% endif %}
            <th scope="col">
                {% if showExternalResult and showExternalTestcases %}
                    shadow diff verified
                {% else %}
                    verified
                {% endif %}
            </th>
            {% if not showExternalResult or not showExternalTestcases %}
                <th scope="col">by</th>
            {% endif %}
            {%- if rejudging is defined %}

                <th scope="col">old result</th>
            {%- endif %}
            {%- if showTestcases is defined and showTestcases %}

                <th scope="col" class="not-sortable not-searchable">test results</th>
            {%- endif %}

        </tr>
        </thead>
        <tbody>
        {%- for submission in submissions %}
            {%- if rejudging is defined %}
                {%- set link = path('jury_submission', {submitId: submission.submitid, rejudgingid: rejudging.rejudgingid}) %}
            {%- else %}
                {%- set link = path('jury_submission', {submitId: submission.submitid}) %}
            {%- endif %}

            <tr class="{% if not submission.valid %}ignore{% endif %}"
                data-problem-id="{{ submission.problem.probid }}"
                data-team-id="{{ submission.team.teamid }}"
                data-language-id="{{ submission.language.langid }}"
                data-submission-id="{{ submission.submitid }}"
                data-result="{{ submission | printValidJurySubmissionResult(false) }}">
                {% if showExternalResult and showExternalTestcases %}
                    <td class="{{ tdExtraClass }}">
                        <a href="{{ link }}">
                            Local
                        </a>
                    </td>
                {% endif %}
                <td class="{{ tdExtraClass }}">
                    <a href="{{ link }}">s{{ submission.submitid }}</a>
                </td>
                {%- if showContest %}
                    <td class="{{ tdExtraClass }}"><a href="{{ link }}">c{{ submission.contest.cid }}</a></td>
                {%- endif %}

                <td rowspan="{{ rowSpan }}" class="{{ tdExtraClass }}">
                    <a href="{{ link }}">{{ submission.submittime | printtime(null, submission.contest) }}</a>
                </td>
                <td rowspan="{{ rowSpan }}" class="{{ tdExtraClass }}">
                    <a href="{{ link }}"
                       title="t{{ submission.team.teamid }}">{{ submission.team.name | truncate(30) }}</a>
                </td>
                <td class="probid{{ tdExtraClass }}" rowspan="{{ rowSpan }}">
                    <a href="{{ link }}"
                       title="{{ submission.problem.name }}">{{ submission.contestProblem.shortname }}</a>
                </td>
                <td class="langid{{ tdExtraClass }}" rowspan="{{ rowSpan }}">
                    <a href="{{ link }}"
                       title="{{ submission.language.name }}">{{ submission.language.langid }}</a>
                </td>
                {% if showExternalResult and showExternalTestcases %}
                    <td class="{{ tdExtraClass }}">
                        <a href="{{ link }}">
                            Local
                        </a>
                    </td>
                {% endif %}
                <td class="{{ tdExtraClass }}">
                    <a href="{{ link }}">
                        {{ submission | printValidJurySubmissionResult }}
                    </a>
                </td>
                {% if showExternalResult and not showExternalTestcases %}
                    {% if submission.externalJudgements.empty %}
                        {% set externalJudgement = null %}
                    {% else %}
                        {% set externalJudgement = submission.externalJudgements.first %}
                    {% endif %}
                    <td class="{{ tdExtraClass }}">
                        <a href="{{ link }}">
                            {% if externalJudgement is null or externalJudgement.result is empty %}
                                {{- 'pending' | printValidJuryResult -}}
                            {% else %}
                                {{- externalJudgement.result | printValidJuryResult -}}
                            {% endif %}
                        </a>
                    </td>
                {% endif %}
                {%- set claim = false %}
                {% if showExternalResult and showExternalTestcases %}
                    {%- if submission.externalJudgements.first is empty or submission.externalJudgements.first.result is empty or submission.judgings.first is empty or submission.judgings.first.result is empty or submission.judgings.first.result == submission.externalJudgements.first.result -%}
                        {%- set verified = '-' %}
                        {%- set juryMember = '-' %}
                    {%- else %}
                        {%- set juryMember = submission.externalJudgements.first.juryMember %}
                        {%- if submission.externalJudgements.first.verified %}
                            {%- set verified = 'yes' %}
                            {%- if submission.externalJudgements.first.verifyComment %}
                                {%- set verified = verified ~ ': ' ~ submission.externalJudgements.first.verifyComment %}
                            {% endif %}
                        {%- else %}
                            {%- set verified = 'no' %}
                            {%- if submission.externalJudgements.first.juryMember is empty %}
                                {%- set claim = true %}
                            {%- else %}
                                {%- set verified = 'claimed' %}
                            {%- endif %}
                        {%- endif %}
                    {%- endif %}
                    {%- if claim %}
                        {%- set claimArg = {claimdiff: 1} %}
                    {%- else %}
                        {%- set claimArg = {unclaimdiff: 1} %}
                    {%- endif %}
                {% else %}
                    {%- if submission.judgings.first is empty or submission.judgings.first.result is empty -%}
                        {%- set verified = '' %}
                        {%- set juryMember = '' %}
                    {%- else %}
                        {%- set juryMember = submission.judgings.first.juryMember %}
                        {%- if submission.judgings.first.verified %}
                            {%- set verified = 'yes' %}
                        {%- else %}
                            {%- set verified = 'no' %}
                            {%- if submission.judgings.first.juryMember is empty %}
                                {%- set claim = true %}
                            {%- else %}
                                {%- set verified = 'claimed' %}
                            {%- endif %}
                        {%- endif %}
                    {%- endif %}
                    {%- if claim %}
                        {%- set claimArg = {claim: 1} %}
                    {%- else %}
                        {%- set claimArg = {unclaim: 1} %}
                    {%- endif %}
                {% endif %}
                <td class="{{ tdExtraClass }}"><a href="{{ link }}">{{ verified }}</a></td>
                {% if not showExternalResult or not showExternalTestcases %}
                    <td class="{{ tdExtraClass }}">
                        {%- if rejudging is defined %}
                            {%- set claimLink = path('jury_submission', claimArg | merge({submitId: submission.submitid, rejudgingid: rejudging.rejudgingid})) %}
                        {%- else %}
                            {%- set claimLink = path('jury_submission', claimArg | merge({submitId: submission.submitid})) %}
                        {%- endif %}
                        {%- if claim -%}
                            <a class="btn btn-outline-secondary btn-sm"
                               href="{{ claimLink }}">claim</a>
                        {%- elseif (not submission.judgings.first or not submission.judgings.first.verified) and juryMember == app.user.username -%}
                            <a class="btn btn-info btn-sm" href="{{ claimLink }}">unclaim</a>
                        {%- else -%}
                            <a href="{{ link }}">{{ juryMember }}</a>
                        {%- endif -%}
                    </td>
                {% endif %}
                {%- if rejudging is defined %}

                    <td class="{{ tdExtraClass }}"><a href="{{ path('jury_submission', {submitId: submission.submitid}) }}">
                            {{ submission.oldResult | printValidJuryResult }}
                        </a></td>
                {%- endif %}
                {%- if showTestcases is defined and showTestcases %}

                    <td class="testcase-results{{ tdExtraClass }}">
                        {{- submission | testcaseResults -}}
                    </td>
                {%- endif %}

            </tr>
            {% if showExternalResult and showExternalTestcases %}
                {% if submission.externalJudgements.empty %}
                    {% set externalJudgement = null %}
                {% else %}
                    {% set externalJudgement = submission.externalJudgements.first %}
                {% endif %}
                {% if external_ccs_submission_url is not empty %}
                    {% set externalSubmissionUrl = submission | externalCcsUrl %}
                {% else %}
                    {% set externalSubmissionUrl = null %}
                {% endif %}
                <td>
                    <a {% if externalSubmissionUrl is not null %}href="{{ externalSubmissionUrl }}"{% endif %}>
                        External
                    </a>
                </td>
                <td>
                    <a {% if externalSubmissionUrl is not null %}href="{{ externalSubmissionUrl }}"{% endif %}>
                        {{ submission.externalid }}
                    </a>
                </td>
                <td>
                    <a {% if externalSubmissionUrl is not null %}href="{{ externalSubmissionUrl }}"{% endif %}>
                        External
                    </a>
                </td>
                <td>
                    <a {% if externalSubmissionUrl is not null %}href="{{ externalSubmissionUrl }}"{% endif %}>
                        {% if externalJudgement is null or externalJudgement.result is empty %}
                            {{- 'pending' | printValidJuryResult -}}
                        {% else %}
                            {{- externalJudgement.result | printValidJuryResult -}}
                        {% endif %}
                    </a>
                </td>
                <td>
                    {%- set claimLink = path('jury_submission', claimArg | merge({submitId: submission.submitid})) %}
                    {%- if claim -%}
                        <a class="btn btn-outline-secondary btn-sm" href="{{ claimLink }}">claim</a>
                    {%- elseif (not submission.externalJudgements.first or not submission.externalJudgements.first.verified) and juryMember == app.user.username -%}
                        <a class="btn btn-info btn-sm" href="{{ claimLink }}">unclaim</a>
                    {%- else -%}
                        <a href="{{ link }}">{{ juryMember }}</a>
                    {%- endif -%}
                </td>
                <td class="testcase-results">
                    {{- submission | testcaseResults(true) -}}
                </td>
            {% endif %}
        {%- endfor %}

        </tbody>
    </table>

    <p>
        Total correct: {{ submissionCounts.correct }}, submitted: {{ submissionCounts.total }}
        {%- if submissionCounts.unverified > 0 -%}
            , unverified: {{ submissionCounts.unverified }}
        {%- endif -%}
        {%- if submissionCounts.ignored > 0 -%}
            , ignored: {{ submissionCounts.ignored }}
        {%- endif -%}
        {%- if submissionCounts.queued > 0 -%}
            , judgement pending: {{ submissionCounts.queued }}
        {%- endif -%}
    </p>
{% endif %}
